<%= form_for @post do |f| %>

<div class="form">
  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="area">
    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body %>
  </div>
  <p>
    <%= f.submit %>
  </p>
</div>

<% end %>
