
<div class="login-success">
  <% if user_signed_in? %>
    <strong><%= current_user.name %></strong>としてログインしました。
  <% end %>
</div>

<ul>
  <%= paginate @posts %>
  <% @posts.each do |post| %>
  <li class="post">
    <div class="post-user">
      <%= post.user.name %>
    </div>
    <div class="post-title">
      <%= link_to post.title, post_path(post.id) %>
    </div>
    <hr>
    <div class="post-body">
      <%= simple_format(post.body) %>
    </div>
    <div class="post-comment">
      <ul>
          <% post.comments.each do |comment| %>
            <li class="post_comment-usename"><%= comment.user.name %></li>
            <li class="post_comment-title"><%= comment.title %></li><br />
          <% end %>
      </ul>
    </div>
    <% if post.user == current_user %>
      <div class="post-edidel">
        <%= link_to "[編集]", edit_post_path(post.id) %>
        <%= link_to "[削除]", post_path(post.id), method: :delete, data:{ confirm:"are you sure?" } %>
      </div>
    <% end %>
  </li>
  <% end %>
</ul>

<p class="index-newpost"><%= link_to "Add new", new_post_path %></p>
