

<ul>
  <%= page_entries_info @posts %>
  <% @posts.each do |post| %>
  <li class="post">
    <div class="post-title">
      <%= link_to post.title, post_path(post.id) %>
    </div>
    <div class="post-body">
      <%= simple_format(post.body) %>
    </div>
    <div class="post-comment">
      <strong>Comment</strong><br>
      <ul>
          <% post.comments.each do |comment| %>
            <li><%= comment.title %></li>
          <% end %>
      </ul>
    </div>
    <div class="post-newcomment">
      
    </div>
    <div class="post-edidel">
      <%= link_to "[Edit]", edit_post_path(post.id) %>
      <%= link_to "[Delete]", post_path(post.id), method: :delete, data:{ confirm:"sre you sure?" } %>
    </div>
  </li>
  <% end %>
  <%= paginate @posts %>
</ul>

<p><%= link_to "Add new", new_post_path %></p>
