<div class="show">
  <div class="show-title">
    <%= @post.title %>
  </div>
  <hr>
  <div class="show-body">
    <%= simple_format(@post.body) %>
  </div>
  <ul>
    <div class="show-comment">
      <strong>Comment</strong><br>
      <% for comment in @post.comments.each %>
        <li><%= comment.user.name %></li>
        <li><%= comment.title %></li>
      <% end %>
    </div>
    <div class="show-newcomment">
      <li>
        <%= form_for [@post, @post.comments.build] do |f| %>
        <%= f.text_field :title %>
        <%= f.hidden_field :post_id %>
        <%= f.submit %>
        <% end %>
      </li>
    </div>
  </ul>
  <div class="show-edidel">
    <% if @post.user == current_user %>
      <%= link_to "[編集]", edit_post_path(@post.id) %>
      <%= link_to "[削除]", post_path(@post.id), method: :delete, data:{ confirm:"are you sure?" } %>
    <% end %>
  </div>
</div>
